@model RT.LongPooling.Blog.Models.Post

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="add-post-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add"  class="add-post-btn btn btn-default" />
            </div>
        </form>
    </div>
</div>
<hr />
