@{
    ViewData["Title"] = "LOTTO - lucky numbers";
}
<div class="row lottery-container">
    <div class="col-lg-12 ">
        <span>Lucky lottery numbers:</span>
        <ul id="lucky-numbers">
        </ul>
    </div>
</div>